<!DOCTYPE html>
<html>
  <head>
    <title>WeatherMap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
    <script src="/scripts/index.js"></script>
  </head>
  <body>
    <div class="ui huge secondary menu">
      <a class="item" href="/">
        Home
      </a>
      <div class="right menu">
        <a class="ui item" href="/register">
          Sign up
        </a>
        <a class="ui item">
          Login
        </a>
        <a class="ui item">
          Logout
        </a>
      </div>
    </div>

  